.navbar {
    -webkit-box-shadow: 0 0 150px 0 rgb(2, 99, 209);
    -moz-box-shadow: 0 0 150px 0 rgb(0, 47, 255);
    box-shadow: 0 0 150px 0 rgb(3, 86, 141);
}

body {
    background-color: #F8E8E3;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

.text-and-icon {
    margin-right: 7.5px;
}

.sections {
    margin-top: 6%;
}

.login-box {
    margin-top: 210px;
    height: 250px;
    box-shadow: None;
    transition: box-shadow 400ms;
}

.container .google-box {
    display: inline-block;
    text-align: center;
}